// a,
// p,
// dd,
// dt,
// dl,
// h1,
// h2,
// h3,
// h4,
// h5,
// hr,
// ul,
// li,
// article,
// strong,
// blockquote,
// footer,
// {color: black;}

a {text-decoration: none; color:initial;}
sup {
  vertical-align: super;
  font-size: 0.75em;
  line-height: 0pt;
}
.keep {
  word-break: break-all;
}
.push {page-break-before: always;}
.push-down {page-break-after: always;}

.down {
  margin-top: 20pt;
}

/*==============================================================*/
/*______________________ Texte - Global ________________________*/
/*==============================================================*/
#flow-main .sommaire{ .flow-into(flow-sommaire); }
.flow-sommaire { .flow-from(flow-sommaire); }

#flow-main .oser-rompre { .flow-into(flow-oser); }
.flow-oser { .flow-from(flow-oser); }

#flow-main .ce-qui-vit { .flow-into(flow-ce-qui-vit); }
.flow-ce-qui-vit { .flow-from(flow-ce-qui-vit); }

#flow-main .georges-kaplan { .flow-into(flow-georges); }
.flow-georges { .flow-from(flow-georges); }

#flow-main .carnets-peter { .flow-into(flow-peter); }
.flow-peter { .flow-from(flow-peter); }

#flow-main .b4-summer { .flow-into(flow-b4-summer); }
.flow-b4-summer { .flow-from(flow-b4-summer); }

#flow-main .backstage { .flow-into(flow-backstage); }
.flow-backstage { .flow-from(flow-backstage); }

#flow-main .backstage { .flow-into(flow-backstage); }
.flow-backstage { .flow-from(flow-backstage); }

#flow-main .xx-time-0 { .flow-into(flow-xx-time-0); }
.flow-xx-time-0 { .flow-from(flow-xx-time-0); }

#flow-main .xx-time-a { .flow-into(flow-xx-time-a); }
.flow-xx-time-a { .flow-from(flow-xx-time-a); }

#flow-main .xx-time-b { .flow-into(flow-xx-time-b); }
.flow-xx-time-b { .flow-from(flow-xx-time-b); }

#flow-main .xx-time-c { .flow-into(flow-xx-time-c); }
.flow-xx-time-c { .flow-from(flow-xx-time-c); }

#flow-main .forets { .flow-into(flow-forets); }
.flow-forets { .flow-from(flow-forets); }

#flow-main .colophon { .flow-into(flow-colophon); }
.flow-colophon { .flow-from(flow-colophon); }

#flow-main .pratique img[alt="map71-1"] { .flow-into(flow-map1); }
.flow-map1 { .flow-from(flow-map1); }
#flow-main .pratique img[alt="map71-2"] { .flow-into(flow-map2); }
.flow-map2 { .flow-from(flow-map2); }

#flow-main .ce-qui-vit img[alt="ars"] { .flow-into(flow-ars); }
.flow-ars { .flow-from(flow-ars); }

img[alt="ars"]{
  width: 70px;
  margin-top: 35px;
}

// #flow-main .partenariats-0 { .flow-into(flow-partenariats-0); }
// .flow-partenariats-0 { .flow-from(flow-partenariats-0); }
//
// #flow-main .partenariats-ecole { .flow-into(flow-partenariats-ecole); }
// .flow-partenariats-ecole { .flow-from(flow-partenariats-ecole); }
//
// #flow-main .partenariats-noel { .flow-into(flow-partenariats-noel); }
// .flow-partenariats-noel { .flow-from(flow-partenariats-noel); }
//
// #flow-main .partenariats-festivalup { .flow-into(flow-partenariats-festivalup); }
// .flow-partenariats-festivalup { .flow-from(flow-partenariats-festivalup); }
//
// #flow-main .partenariats-kunst { .flow-into(flow-partenariats-kunst); }
// .flow-partenariats-kunst { .flow-from(flow-partenariats-kunst); }

p, ul li, ol li {
  vertical-align: baseline;
  font-family: 'Ume vertical';
  font-size: 9pt;
  line-height: 11.5pt;
}

p, .informations, .intro {
  margin-bottom: 6pt;
}

.intro blockquote p {
  font-family: 'Ume gothic bold';
  text-transform: uppercase;
  font-size: 7.3pt !important;
  letter-spacing: 0.04em;
  padding-left: 45pt;
  padding-right: 45pt;
}

.intro p:nth-of-type(6){
  // color:red;
  margin-top:9pt;
}

p em {
  font-family: 'Ume gothic bold';
  text-transform: uppercase;
  font-size: 7.3pt !important;
  letter-spacing: 0.04em;
}

h1 {
  page-break-inside: avoid;
  page-break-after: avoid;
  page-break-before:always;
  font-family: 'Ume Mincho';
  line-height: 18pt;
  letter-spacing: -0.03em;
  transform: scaleY(2.7);
  font-size: 1.8em;
  margin-bottom: 52pt;
  padding-top: 13px;
}
.partenariats h1 {
//   color:white;
//   margin-top: 80pt;
// padding: 0 50px;
// margin-left: -20pt
}
// .partenariats h2 {
//   font-size: 17.5pt;
//   line-height: 1.4em;
// }
// .partenariats h3 {
//   font-size: 1.5em;
// margin-top: 10pt;
// margin-bottom:20pt ;
// }
// .partenariats .dates {
//   margin-top: 8pt;
// }
// .partenariats .type {
//   margin-top: 4pt;
//   line-height: 1.4em;
// }

.incubations p.type + p.type {
  line-height: 1.4em;
}
h1,
h2,
.dates,
.informations,
.contact {
  // color:white;
}

h1:nth-of-type(2){
  margin-bottom: 40pt;
}


h2 {
  font-family: 'Ume gothic bold';
  // font-size: 19pt ;
  // line-height: 22pt;
  font-size: 40pt;
  line-height: 42pt;
  // margin-bottom: 2pt;
  text-align: center;
  margin-top: 13pt;
  text-transform: uppercase;
}

h2 + p.type {
  margin-top: 1pt;
  line-height: 1.4em;
}
.xx-time h2 {
  -webkit-text-stroke: 3px white;
  color: black;
  letter-spacing: 0.05em;
  margin-top: 2pt;
}
.xx-time h3 {
  -webkit-text-stroke: 0.2px white;
  font-size: 1em;
  margin-bottom: 10pt;
  margin-top: 2pt;

}
div.blocks.xx-time  {
  color: white;
  padding: 10px;
  margin-bottom: 15px;
}

.xx-time h4 {
  font-size: 14pt ;
  line-height: 18pt;
  margin-top: 18px;
  font-family: 'Ume gothic bold';
  text-align: center;
}
.xx-time .dates {
  margin-top: 15pt;
  font-size: 1em;
  line-height: 1.2em;
  margin: 3pt;
}
.xx-time h2 + p.dates {
  margin: 0;
}
.xx-time .type {
  margin-top: 2pt;
}
.partenariats h2 {
  -webkit-text-stroke: 3px black;
  color: white;
}
// .partenariats h1 + h2 {
//   margin-top: 72pt;
// }
.partenariats h2,
.incubations h2,
.ca-tourne h2,
.extras h2,
.info-pratique h2 {
   font-size: 11pt ;
   line-height: 14pt;
   margin: 0;
   padding: 0;
   text-align: left;
   margin-top: 14pt
 }
 .partenariats h3,
 .incubations h3,
 .extras h3,
 .info-pratique h3 {
    font-size: 9pt ;
    line-height: 12pt;
    margin: 0;
    padding: 0;
    font-family: 'Ume Mincho Bold';
    text-align: left;
  }

 .ca-tourne h3 {
   font-size: 9pt;
   line-height: 9pt;
   text-align: left;
   margin-bottom: 9pt
 }
 .ca-tourne ul li::before {
   content:'\2589 \258c  ';
   padding-right: 2px;
 }

  .incubations h2 {
    margin-top: 20pt;
  }
  .partenariats h3,
  .incubations h3,
  .info-pratique h3 {
    margin: 7pt 0pt;
    font-size: 9pt;
  }
  .partenariats .type,
  .incubations .type,
  .ca-tourne .type,
  .extras .type {
    text-align: left;
    margin: 0;
    line-height: 1.4em

  }
.partenariats .dates {
  text-align: left;
  font-size: 1.2em;
  line-height: 1em;
  margin-top: 4pt;
}
.partenariats h3 + p.dates {
  margin-top: 9pt;
}
.partenariats blockquote {
  text-align: left;
}
.ca-tourne h2{
  margin-top: 15pt;
}
h2 + ul {
  padding-top: 0pt;

}
.info-pratique h1 {
  page-break-before: avoid;
  margin: 16pt 0pt 37pt 0pt ;
}
.extras h1 {
  page-break-before: avoid;
}

.extras h1:first-of-type {
  padding-top: 20px;
}
.extras h1 + p {
  margin-top: 68pt;
}
.info-pratique.billetterie h1:first-of-type {
  margin-top: 0pt;
}
h3, h4 {
  page-break-inside: avoid;
  page-break-after: avoid;
  page-break-before: avoid;
  margin: 0;
}

h3 {
  page-break-after: avoid;
  font-family: 'Ume Mincho Bold';
  // line-height: 8.5pt;
  text-align: center;
  transform: scaleY(2.7);
  // font-size: 10pt;
  font-size: 16pt;
  line-height: 20pt;
  letter-spacing: 0.05em;
  margin-top: 9px;
}

.ce-qui-vit h3{
  margin-top: 71px;
  line-height: 0.9em;
}
.ce-qui-vit h3 + p.dates {
  margin-top: 85px;
}
.georges-kaplan h3,
.backstage h3,
.forets h3 {
  margin-top: 30px;

}
.carnets-peter h3{
  margin-top: 22px;

}
h4 {
  font-family: 'Ume vertical';
  font-size: 8pt;
  line-height: 11pt;
  text-transform: uppercase;
  margin-top: 0pt;
  padding-top: 0pt;
}

hr {
  visibility: hidden;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
  padding-top: @line-height;
}

li {
  list-style: none;
}

.informations {
  font-family: 'Ume vertical';
  font-size: 10pt ;
  line-height: 14pt;
}

.dates {
  font-family: 'Ume Vertical';
  font-size: 15pt;
  line-height: 18pt;
  margin-top: 30pt;
  // font-size: 12pt;
  // line-height: 16pt;
  letter-spacing: -0.02em;
  margin-bottom: 2pt;
  text-align: center;
  // margin-top: 16px;
}

 .type {
   text-align: center;
   text-transform: uppercase;
   font-family: 'Ume vertical';
   font-size: 9pt;
   line-height: 12pt;
   margin-top: 10pt;
 }


.off {
  display: none;
}

.intro h1 {
  padding-top: 18pt;
  margin-bottom: 65pt;
  line-height: 17pt;
}
.intro, .intro ul li, .intro ol li {
  font-family: 'Ume Mincho';
  font-size: 10pt;
  // line-height: 1.1em;
}
.intro ul {
  padding-top: 0pt;
  margin-top: -5pt;
}

.intro ul li::before {
  content: '— ';
}

.intro p {
  font-size: 10pt;
  line-height: 13pt;
}

.intro p.author {
  margin-top: 11pt;
}
strong {
  font-weight: bolder;
  font-family: 'Ume Mincho';
}
blockquote {
  font-family: 'Ume Mincho';
  font-size: 18pt;
  line-height: 1.1em;
  margin-bottom: 6pt;
  text-align: center;
  padding-top: 6pt;
  // transform: skewX(10deg);
}

blockquote p {
  margin-bottom: 0pt;
  font-family: 'Ume Mincho';
  // transform: skewX(10deg);
  // transform: skewY(8deg);
}

.footer {
  font-family: 'Ume vertical';
  font-size: 7pt ;
}

.contact {
  font-family: 'Ume Mincho';
  font-size: 10pt ;
}
.pif .contact + p {
  margin: 0;
}
.editeur {
  font-family: 'Ume vertical';
  font-size: 5pt ;
  -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
  line-height: 7pt;
  page-break-before: always;
}

dl {
  line-height: 8.5pt;
  margin-top:0pt;

}

dt {
  font-family: 'Ume Gothic Bold';
  font-size: 6pt ;
  display: inline;
  vertical-align: baseline;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.ce-qui-vit dd:first-of-type {
    margin-left: 4pt;
}

dd {
  font-family: 'Ume Mincho';
  font-size: 8.5pt;
  display: inline;
}

.production {
  font-family: 'Ume vertical';
  font-size: 7pt;
  line-height: 9.5pt;
  margin-top: 4.5pt;
}

.figure {
  font-size: 9.5pt;
  line-height: 12pt;
}

.en {
  font-family: 'Ume wide oblique';
  font-style: italic;
  font-size: 8.7pt;
  line-height: 10.6pt;
}

.billetterie img {
  margin-bottom: 3pt;
}




/*==============================================================*/
/*__________________________ images __________________________*/
/*==============================================================*/

.visuels {
  text-align: center;
}

.visuels img{
  width: 150px !important;
  margin-top: 12px;
}

img[alt="map71-2"] {
width: 286px;
position: absolute;
}

img[alt="map71-1"] {
width: 582px;
position: absolute;
}

h2.plus-haut {
  margin-top: 4pt;
}

.plusbas {
  margin-top: 9pt;
}

.demi {
  width: 50%;
}


.figure em {
  font-family: 'Ume Mincho Bold';
  font-size: 12pt;
}
.img-cover {
  background-repeat: no-repeat;
  background-size: cover;
  // -webkit-filter: grayscale(100%);
  background-color: transparent !important;
  // outline: 8px solid black;
  // width: 150px;
}
.flow-xx-time-a.img-cover,
.flow-xx-time-b.img-cover,
.flow-xx-time-c.img-cover {
  outline: 8px solid white;

}

.flow-oser.img-cover {
  background-image: url(../../img/chapt-1-01.jpg);

}
.flow-ce-qui-vit.img-cover {
  background-image: url(../../img/chapt-2-grey.jpeg);
}
.flow-georges.img-cover {
  background-image: url(../../img/chapt-3-grey.jpg);
}
.flow-peter.img-cover {
  background-image: url(../../img/chapt-4-grey.jpg);
}
.flow-b4-summer.img-cover {
  background-image: url(../../img/chapt-5-grey.jpg);
}
.flow-backstage.img-cover {
  background-image: url(../../img/chapt-6-grey.jpg);
}
.flow-xx-time-a.img-cover {
  background-image: url(../../img/chapt-7a-grey.jpg);
}
.flow-xx-time-b.img-cover {
  background-image: url(../../img/chapt-7b-grey.jpg);
}
.flow-xx-time-c.img-cover {
  background-image: url(../../img/chapt-7c-grey.jpg);
  background-color: transparent !important;

}
.flow-forets.img-cover {
  background-image: url(../../img/chapt-8-grey.jpg);

}
.chapt-chiffre {
  -webkit-text-stroke: 2px white;
  color: transparent;
  font-size: 40pt;
  text-align: left;
  padding: 10pt;
  margin: 0;
}
